<div class="sidebar">
    <h3>AI Course</h3>
    <ul>
        <!-- Display Chapters and Sub-Chapters -->
        {% assign chapters = site.pages | where: "layout", "chapter" %}
        {% assign top_level_chapters = chapters | where: "parent", "" %}
        {% for chapter in top_level_chapters %}
        <li class="{% if page.url == chapter.url %}active{% endif %}">
            <strong>{{ chapter.title }}</strong>
            <ul>
                {% assign chapter_number = chapter.chapter_number %}
                <!-- Display Posts under the Current Chapter -->
                {% for post in site.posts %}

                {% if post.chapter == chapter_number %}
                <li class="{% if page.url == post.url %}active{% endif %} post-under-chapter">
                    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                </li>
                {% endif %}


                {% endfor %}

                <!-- Recursive Display of Sub-Chapters -->
                {% include recursive_nav.html parent_chapter=chapter_number %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>