<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ " /assets/css/course.css" | relative_url }}">

  <style>
    .app {
      display: flex;
    }
  </style>
</head>

<body>

  <div class="app">
    {% include sidebar.html %}

    <main>
      <article>
        <h1>{{ page.title }}</h1>
        <div class="post-content">
          {{ content }}
        </div>

        <hr>

        <!-- Next Post Button -->
        {% assign currentPost = page %}
        {% assign posts = site.posts %}

        {% for post in posts %}
        {% if post.url == currentPost.url %}
        {% assign nextIndex = forloop.index0 | plus: 1 %}
        {% if nextIndex < posts.size %} {% assign nextPost=posts[nextIndex] %} <a
          href="{{ nextPost.url | relative_url }}" class="next-post-button">
          Next: {{ nextPost.title }}
          </a>
          {% endif %}
          {% endif %}
          {% endfor %}


      </article>

    </main>
  </div>





</body>

</html>